 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/annie-spratt-OIuCXxx08yg-unsplash.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 916px;
}

.u-section-1 .u-group-1 {
  min-height: 642px;
  margin-top: 164px;
  margin-bottom: 60px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-group-2 {
  width: 646px;
  min-height: 211px;
  margin: 47px auto 0 40px;
}

.u-section-1 .u-shape-1 {
  width: 581px;
  height: 108px;
  animation-duration: 1000ms;
  margin: 103px auto 0 0;
}

.u-section-1 .u-shape-2 {
  width: 311px;
  height: 110px;
  animation-duration: 1000ms;
  margin: -211px auto 0 0;
}

.u-section-1 .u-text-1 {
  animation-duration: 1000ms;
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: 1px;
  background-image: none;
  margin: -110px 111px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  margin: 280px auto 0 547px;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 20px auto 0;
  padding: 8px 35px 9px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 755px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 347px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 127px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 22px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 434px;
  }

  .u-section-1 .u-group-1 {
    min-height: 745px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 5px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 273px;
  }

  .u-section-1 .u-group-1 {
    min-height: 1234px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
    padding-top: 30px;
  }

  .u-section-1 .u-group-2 {
    min-height: 315px;
    width: 340px;
    margin-top: 419px;
    margin-right: -40px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -425px;
    margin-right: 29px;
    margin-left: -29px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 373px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -673px;
    padding-right: 138px;
    padding-left: 137px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 501px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 66px auto 60px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 369px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 20px;
}

.u-section-2 .u-text-1 {
  margin-left: 0;
  margin-right: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 0;
  font-size: 1.25rem;
}

.u-section-2 .u-text-2 {
  font-size: 3.75rem;
  margin: 20px 125px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 20px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 369px;
}

.u-section-2 .u-container-layout-2 {
  padding-right: 20px;
}

.u-section-2 .u-text-4 {
  margin: 64px 4px 0 16px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 16px;
    position: relative;
  }

  .u-section-2 .u-text-2 {
    margin-right: 145px;
  }

  .u-section-2 .u-text-3 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 16px;
  }

  .u-section-2 .u-text-4 {
    position: relative;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 551px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 10px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 48px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 551px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 369px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 5px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 5px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 43px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 5px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 995px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 6px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 6px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 52px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 6px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 373px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 6px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 810px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 100px auto 60px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 660px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 11px;
  padding-right: 11px;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  margin: 200px 0 0 18px;
}

.u-section-3 .u-text-2 {
  margin: 7px 0 0 18px;
}

.u-section-3 .u-image-1 {
  background-image: url("images/22.jpg");
  min-height: 660px;
  background-position: 11.97% 50%;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 230px;
}

.u-section-3 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-icon-1 {
  width: 73px;
  height: 73px;
  margin: 0 auto 0 20px;
}

.u-section-3 .u-text-3 {
  font-size: 1.5rem;
  text-transform: none;
  letter-spacing: normal;
  margin: 9px 20px 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 20px 0;
}

.u-section-3 .u-layout-cell-4 {
  background-image: none;
  min-height: 238px;
}

.u-section-3 .u-container-layout-4 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-icon-2 {
  width: 85px;
  height: 85px;
  background-image: none;
  margin: 9px auto 0 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.5rem;
  text-transform: none;
  letter-spacing: normal;
  margin: 8px 0 0;
}

.u-section-3 .u-text-6 {
  margin-right: 0;
  margin-left: 0;
}

.u-section-3 .u-layout-cell-5 {
  background-image: none;
  min-height: 238px;
}

.u-section-3 .u-container-layout-5 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-icon-3 {
  width: 74px;
  height: 74px;
  background-image: none;
  margin: 9px auto 0 0;
}

.u-section-3 .u-text-7 {
  font-size: 1.5rem;
  background-image: none;
  margin: 19px 0 0;
}

.u-section-3 .u-text-8 {
  margin-right: 0;
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 692px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-text-1 {
    position: relative;
    font-size: 3rem;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    position: relative;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 190px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-text-3 {
    position: relative;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    position: relative;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 196px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-text-5 {
    position: relative;
  }

  .u-section-3 .u-text-6 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 196px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-text-7 {
    position: relative;
  }

  .u-section-3 .u-text-8 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1073px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 556px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 118px;
  }

  .u-section-3 .u-image-1 {
    min-height: 583px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 0;
  }

  .u-section-3 .u-text-6 {
    margin-bottom: 0;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 0;
  }

  .u-section-3 .u-text-8 {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1177px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 55px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 830px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-3 .u-image-1 {
    min-height: 660px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 226px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-3 .u-icon-1 {
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-right: 20px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin: 24px 20px -3px 0;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 6px;
    padding-right: 6px;
  }
} .u-section-4 {
  min-height: 935px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-4 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/ET8.jpg");
  min-height: 468px;
  background-position: 50% 50%;
}

.u-section-4 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/ET4.jpg");
  min-height: 468px;
  background-position: 50% 50%;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 314px;
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-1 {
  text-transform: none;
  font-weight: 400;
  margin: 42px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 311px;
  background-image: none;
}

.u-section-4 .u-container-layout-4 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-3 {
  font-weight: normal;
  margin: 25px 0;
}

.u-section-4 .u-image-3 {
  background-image: url("images/ET2.jpg");
  min-height: 311px;
  background-position: 50% 50%;
}

.u-section-4 .u-image-4 {
  min-height: 468px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/ET3.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/ET7.jpg");
  min-height: 468px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 386px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-4 .u-text-1 {
    position: relative;
  }

  .u-section-4 .u-text-2 {
    position: relative;
    font-size: 3rem;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-4 .u-text-3 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-image-1 {
    min-height: 443px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-image-1 {
    min-height: 665px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: auto;
  }

  .u-section-4 .u-image-1 {
    min-height: 419px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: auto;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: auto;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 6px;
    padding-right: 6px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 753px;
}

.u-section-5 .u-group-1 {
  width: 570px;
  min-height: 178px;
  margin: 40px 0 0 auto;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 65px 0 0;
}

.u-section-5 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 2.25rem;
}

.u-section-5 .u-layout-wrap-1 {
  background-image: none;
  margin: 40px auto 91px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 462px;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-5 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 195px auto 0 0;
}

.u-section-5 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: underline !important;
  font-weight: 700;
  margin: 17px 0 0;
}

.u-section-5 .u-text-4 {
  margin: 10px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 462px;
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-5 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 123px auto 0 0;
}

.u-section-5 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: underline !important;
  font-weight: 700;
  margin: 11px 0 0;
}

.u-section-5 .u-text-6 {
  margin: 17px 0 0;
}

.u-section-5 .u-layout-cell-3 {
  background-image: none;
  min-height: 462px;
}

.u-section-5 .u-container-layout-4 {
  padding-left: 14px;
  padding-right: 14px;
}

.u-section-5 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 29px auto 0 6px;
}

.u-section-5 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: underline !important;
  font-weight: 700;
  margin: 11px 12px 0 0;
}

.u-section-5 .u-text-8 {
  margin: 14px 6px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    width: 470px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-5 .u-text-1 {
    position: relative;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 424px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-5 .u-icon-1 {
    height: 53px;
    width: 53px;
    position: relative;
  }

  .u-section-5 .u-text-3 {
    position: relative;
  }

  .u-section-5 .u-text-4 {
    position: relative;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 424px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-5 .u-icon-2 {
    height: 53px;
    width: 53px;
    position: relative;
  }

  .u-section-5 .u-text-5 {
    position: relative;
  }

  .u-section-5 .u-text-6 {
    position: relative;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 424px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-5 .u-icon-3 {
    height: 53px;
    width: 53px;
    position: relative;
  }

  .u-section-5 .u-text-7 {
    position: relative;
    margin-right: 0;
  }

  .u-section-5 .u-text-8 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-group-1 {
    width: 360px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 434px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-icon-1 {
    height: 40px;
    width: 40px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 434px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-icon-2 {
    height: 40px;
    width: 40px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 434px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 0;
  }

  .u-section-5 .u-icon-3 {
    height: 40px;
    width: 40px;
  }

  .u-section-5 .u-text-7 {
    width: auto;
    margin-right: -20px;
  }

  .u-section-5 .u-text-8 {
    margin-right: 11px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-group-1 {
    width: 338px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-5 .u-icon-1 {
    height: 38px;
    width: 38px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-5 .u-icon-2 {
    height: 38px;
    width: 38px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 5px;
  }

  .u-section-5 .u-icon-3 {
    height: 38px;
    width: 38px;
  }

  .u-section-5 .u-text-7 {
    margin-right: -10px;
    width: NaNpx;
  }

  .u-section-5 .u-text-8 {
    margin-right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-5 .u-group-1 {
    width: 283px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: auto;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-5 .u-icon-1 {
    height: 64px;
    width: 64px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 392px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-5 .u-icon-2 {
    height: 64px;
    width: 64px;
    margin-top: 89px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: 25px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-top: 8px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: auto;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-5 .u-icon-3 {
    height: 64px;
    width: 64px;
  }

  .u-section-5 .u-text-7 {
    margin-right: 0;
  }

  .u-section-5 .u-text-8 {
    margin-right: 0;
  }
} .u-section-6 {
  min-height: 857px;
  background-image: none;
}

.u-section-6 .u-shape-1 {
  height: 314px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin: -254px auto 0;
}

.u-section-6 .u-list-1 {
  width: 1140px;
  margin: 35px auto 60px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  min-height: 553px;
  grid-gap: 30px 30px;
}

.u-section-6 .u-list-item-1 {
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  height: 409px;
  object-position: 50% 13.66%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-2 {
  margin-top: 20px;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
}

.u-section-6 .u-text-3 {
  margin-top: 12px;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-6 .u-text-4 {
  margin-top: 23px;
  margin-bottom: 0;
  font-weight: 300;
  background-image: none;
}

.u-section-6 .u-list-item-2 {
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-image-2 {
  height: 409px;
  object-position: 50% 25.62%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-5 {
  margin-top: 20px;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
}

.u-section-6 .u-text-6 {
  margin-top: 12px;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-6 .u-text-7 {
  margin-top: 23px;
  margin-bottom: 0;
  font-weight: 300;
  background-image: none;
  font-style: normal;
}

.u-section-6 .u-list-item-3 {
  background-image: none;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-image-3 {
  height: 409px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-8 {
  margin-top: 20px;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
}

.u-section-6 .u-text-9 {
  margin-top: 12px;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-6 .u-text-10 {
  margin-top: 23px;
  margin-bottom: 0;
  font-weight: 300;
  background-image: none;
  font-style: normal;
}

@media (max-width: 1199px) {
  .u-section-6 .u-list-1 {
    width: 940px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 456px;
  }

  .u-section-6 .u-image-1 {
    height: 324px;
  }

  .u-section-6 .u-image-2 {
    height: 324px;
  }

  .u-section-6 .u-image-3 {
    height: 324px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-list-1 {
    width: 720px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    min-height: 1048px;
  }

  .u-section-6 .u-image-1 {
    height: 384px;
  }

  .u-section-6 .u-image-2 {
    height: 384px;
  }

  .u-section-6 .u-image-3 {
    height: 384px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-list-1 {
    width: 540px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-6 .u-image-1 {
    height: 666px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-6 .u-image-2 {
    height: 666px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-6 .u-image-3 {
    height: 666px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-list-1 {
    width: 340px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    height: 410px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-2 {
    height: 410px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-3 {
    height: 410px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 177px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 60px auto;
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 857px;
}

.u-section-8 .u-list-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-8 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  min-height: 553px;
  grid-gap: 30px 30px;
}

.u-section-8 .u-list-item-1 {
  background-image: none;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-image-1 {
  width: 240px;
  height: 428px;
  margin: 0 auto;
}

.u-section-8 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: bold;
}

.u-section-8 .u-text-2 {
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-8 .u-text-3 {
  margin-top: 23px;
  margin-bottom: 0;
  font-weight: 300;
  font-style: normal;
}

.u-section-8 .u-list-item-2 {
  background-image: none;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-image-2 {
  width: 240px;
  height: 428px;
  object-position: 50% 94.17%;
  margin: 0 auto;
}

.u-section-8 .u-text-4 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: bold;
}

.u-section-8 .u-text-5 {
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-8 .u-text-6 {
  margin-top: 23px;
  margin-bottom: 0;
  font-weight: 300;
  font-style: normal;
}

.u-section-8 .u-list-item-3 {
  background-image: none;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px;
}

.u-section-8 .u-image-3 {
  width: 240px;
  height: 428px;
  object-position: 50% 94.17%;
  margin: 0 auto;
}

.u-section-8 .u-text-7 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: bold;
}

.u-section-8 .u-text-8 {
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-8 .u-text-9 {
  margin-top: 23px;
  margin-bottom: 0;
  font-weight: 300;
  font-style: normal;
}

@media (max-width: 1199px) {
  .u-section-8 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    min-height: 451px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-repeater-1 {
    min-height: 1091px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 502px;
}

.u-section-9 .u-layout-wrap-1 {
  margin: 40px auto 40px 0;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 443px;
}

.u-section-9 .u-form-1 {
  height: 352px;
  width: 543px;
  margin: 47px auto;
}

.u-section-9 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-weight: 700;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 443px;
}

.u-section-9 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-9 .u-image-1 {
  width: 260px;
  height: 218px;
  margin: 20px 0 0 auto;
}

.u-section-9 .u-text-1 {
  font-size: 1.875rem;
  margin: 20px 0 0;
}

.u-section-9 .u-text-2 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-form-1 {
    width: 448px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 365px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-9 .u-image-1 {
    width: 210px;
    height: 176px;
  }

  .u-section-9 .u-text-1 {
    position: relative;
    font-size: 3rem;
  }

  .u-section-9 .u-text-2 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-form-1 {
    width: 343px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-1 {
    width: 155px;
    height: 130px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-form-1 {
    width: 500px;
    margin-bottom: 24px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-9 .u-image-1 {
    width: 260px;
    height: 218px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: auto;
  }

  .u-section-9 .u-form-1 {
    width: 270px;
    margin-bottom: 47px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 372px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-9 .u-image-1 {
    width: 160px;
    height: 134px;
  }
}